.joinUs-btn {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
    margin-bottom: 40px;
}

.joinUs-btn button {
    width: 300px;
}

.form-group input {
    background-color: #000;
}