.cusFooterContainer1 {
    margin-top: 300px;
    background-color: #171426;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 435px;
}

.cusFooter {
    padding-top: 30px;
}

.cusFooter h6 {
    line-height: 30px;
    color: white;
}

.cusFooter h5 {
    padding-bottom: 20px;
    font-weight: bold;
    color: white;
}

footer {
    color: #848b9f;
}



.footerIcon img{
    padding: 5px;
}