.class-item img {
    position: relative;
    margin-bottom: 45px;
}

.class-overlay button {
    width: 320px;
    padding: 8px 15px 8px 15px;
    margin-left: -42%;
    bottom: 0px;
    margin-bottom: 20px;
    position: absolute;
    z-index: 15;
    font-weight: bold;
    text-transform: uppercase;
}